:root {

    --theme-primary: #EA5D2C;
    --theme-secondary: #F5A335;
    --theme-dark: #425267;
    --theme-light: #fff;

    --theme-font-family: 'Prompt', sans-serif;

}

/*  */

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
    display: block;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: var(--theme-font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--theme-dark);
    background-color: var(--theme-light);
    -ms-text-size-adjust: 100%;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--theme-dark);
    font-weight: 700;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 15px;
    line-height: 30px;
    color: var(--theme-dark);
}

img {
    width: 100%;
    overflow: hidden;
}

/*  */

::selection {
    background: #f5a33550;
    color: var(--theme-light);
}

::-moz-selection {
    background: #f5a33550;
    color: var(--theme-light);
}

.border-button a {
    font-size: 14px;
    color: var(--theme-primary);
    background-color: transparent;
    border: 2px solid var(--theme-primary);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.border-button a:after {
    width: 78%;
    height: 2px;
    background-color: var(--theme-light);
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.border-button a:hover {
    background-color: var(--theme-primary);
    color: var(--theme-light);
}

.main-button a {
    font-size: 14px;
    color: var(--theme-light);
    background-color: var(--theme-primary);
    border: 2px solid var(--theme-primary);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.main-button a:after {
    width: 78%;
    height: 2px;
    background-color: var(--theme-light);
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.main-button a:hover {
    background-color: var(--theme-light);
    color: var(--theme-primary);
    border: 1px solid var(--theme-light);
}

section {
    padding: 120px 0;
}

.section-heading {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: center;
}

.section-heading .line-dec {
    width: 100px;
    height: 2px;
    background-color: var(--theme-primary);
    margin: 0 auto 30px auto;
}

.section-heading h2 {
    margin-top: 10px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--theme-dark);
}

.section-heading h2 em {
    color: var(--theme-primary);
    font-style: normal;
}

/*  */

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--theme-dark);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: transparent;
}

.preloader-inner .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: var(--theme-primary);
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
}

.preloader-inner .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: var(--theme-primary);
    border-radius: 50%;
}

/*  */

.sub-header {
    background-color: var(--theme-dark);
    padding: 5px 0;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.sub-header .sub-header-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.sub-header .sub-header-area .sub-header-content p {
    color: var(--theme-light);
    font-size: 18px;
}

.sub-header .sub-header-area .sub-header-icons {
    text-align: right;

}

.sub-header .sub-header-area .sub-header-icons ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sub-header .sub-header-area .sub-header-icons ul li a {
    color: var(--theme-light);
    font-size: 18px;
}

.sub-header .sub-header-area .sub-header-icons ul li a:hover {
    color: var(--theme-primary);
}

.sub-header .left-content p em {
    font-style: normal;
    color: var(--theme-primary);
}

/*  */
.background-header {}

.header-area {
    background-color: var(--theme-light);
    position: absolute;
    top: 40;
    left: 0;
    right: 0;
    z-index: 9999;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.header-area .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    background: transparent;
}

.header-area .main-nav .logo {
    line-height: 100px;
}

.header-area .main-nav .nav {
    margin-right: 0;
    background-color: transparent;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    position: relative;
    z-index: 9999;
}

.header-area .main-nav .nav li {
    padding-left: 15px;
    padding-right: 15px;
}

.header-area .main-nav .nav li:last-child {
    padding-right: 0px;
}

.header-area .main-nav .nav li a {
    display: block;
    color: var(--theme-dark);
    font-size: 14px;
    font-weight: 500px;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 1px;
    height: 40px;
    border: transparent;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
    color: var(--theme-primary) !important;
}

.header-area .main-nav .nav li.has-sub {
    position: relative;
    padding-right: 15px;
}

.header-area .main-nav .nav li.has-sub::after {
    font-family: FontAwesome;
    content: "\f107";
    color: var(--theme-dark);
    font-size: 12px;
    position: absolute;
    top: 12px;
    right: 5px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: absolute;
    width: 200px;
    /* box-shadow: ; */
    overflow: hidden;
    top: 40px;
    opacity: 0;
    transition: all .3s;
    transform: translateY(+2em);
    visibility: hidden;
    z-index: -1;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li a {
    opacity: 1;
    display: block;
    background: #f7f7f7;
    color: #2a2a2a !important;
    font-size: 13px;
    font-weight: 400;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #eee;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav li.has-sub ul li a:hover {
    background: #fff;
    color: #f5a425 !important;
    padding-left: 25px;
}

.header-area .main-nav .nav li.has-sub ul li a:hover:before {
    width: 3px;
}

.header-area .main-nav .nav li.has-sub:hover ul.sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 30px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    background-color: var(--theme-dark);
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    transform-origin: 33% 100%;
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    transform-origin: 33% 0;
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    transform: translateY(6px) translateX(1px) rotate(45deg);
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: var(--theme-primary);
}

.header-area .main-nav .menu-trigger.active span:after {
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: var(--theme-primary);
}


@media (max-width: 767px) {
    .header-area .main-nav .logo {
        color: #1e1e1e;
    }

    .header-area {
        background-color: #f7f7f7;
        padding: 0px 15px;
        height: 100px;
        box-shadow: none;
        text-align: center;
    }


    .header-area .menu-trigger {
        display: block !important;
    }

    .header-area .main-nav {
        overflow: hidden;
        flex-direction: column;
    }

    .header-area .main-nav .nav {
        width: 100%;
        display: none;
        top: 0;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin: 0;
    }

    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid #eee;
    }

    .header-area.header-sticky .nav {
        margin: 0;
    }

    .header-area .main-nav .nav li {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .header-area .main-nav .nav li a {
        height: 50px !important;
        line-height: 50px !important;
        padding: 0px !important;
        border: none !important;
        background: #f7f7f7 !important;
        color: #191a20 !important;
    }

    .header-area .main-nav .nav li a:hover {
        background: #eee !important;
        color: #f5a425 !important;
    }

    .header-area .main-nav .nav li.has-sub ul.sub-menu {
        position: relative;
        visibility: inherit;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        top: 0px;
        width: 100%;
        box-shadow: none;
        height: 0px;
        transition: all 0s;
    }

    .header-area .main-nav .nav li.submenu ul li a {
        font-size: 12px;
        font-weight: 400;
    }

    .header-area .main-nav .nav li.submenu ul li a:hover:before {
        width: 0px;
    }

    .header-area .main-nav .nav li.has-sub ul.sub-menu {
        height: auto;
    }

    .header-area .main-nav .nav li.has-sub:after {
        color: #3B566E;
        right: 30px;
        font-size: 14px;
        top: 15px;
    }

    .header-area .main-nav .nav li.submenu:hover ul,
    .header-area .main-nav .nav li.submenu:focus ul {
        height: 0px;
    }
}

@media (min-width: 767px) {
    .header-area .main-nav .nav {
        display: flex !important;
    }
}

/*  */

.main-banner {
    background-image: url(../images/banner-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 290px;
    padding-bottom: 240px;
    background-color: var(--theme-dark);
}

.main-banner .banner-header-text h6 {
    color: var(--theme-primary);
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.main-banner .banner-header-text h2 {
    background: -webkit-linear-gradient(left, #ff8a00, #ffbc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 67px;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
}

.main-banner .banner-header-text p {
    margin-top: 20px;
}

.main-banner .banner-header-text .buttons {
    margin-top: 30px;
    display: flex;
    justify-content: start;
}

/*  */

.categories-products {
    background-color: var(--theme-light);
    position: relative;
}

.categories-products:after {
    background-image: url(/assets/images/category-collection-dec.png);
    width: 300px;
    height: 282px;
    position: absolute;
    bottom: 0;
    right: 30px;
    content: '';
}

.categories .item {
    background-color: var(--theme-dark);
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid var(--theme-dark);
    position: relative;
}

.categories .item .icon {
    width: 62px;
    height: 62px;
    display: inline-block;
    text-align: center;
    line-height: 62px;
    background-color: var(--theme-light);
    border-radius: 50%;
    color: var(--theme-primary);
    font-size: 25px;
}





.categories .item .icon img {
    max-width: 31px;
}

.categories .item h4 {
    margin-top: 15px;
    color: var(--theme-light);
    font-size: 20px;
}

.categories .item .icon-button a {
    display: inline-block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    background-color: var(--theme-light);
    color: var(--theme-primary);
    border-radius: 50%;
    font-size: 18px;
    position: absolute;
    left: 50%;
    bottom: -23px;
    transform: translateX(-23px);
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.categories .item .icon-button a:hover {
    background-color: var(--theme-primary);
    color: var(--theme-light);
}

.categories .item:hover .icon-button a {
    visibility: visible;
    opacity: 1;
}

.collections {
    margin-top: 140px;
}

.collections .item img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.collections .item .down-content {
    background-color: var(--theme-dark);
    border: 1px solid var(--theme-dark);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
}

.collections .item .down-content .title {
    display: block;
    height: 24px;
    color: var(--theme-primary);
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--theme-secondary);
    margin-bottom: 20px;
    padding-bottom: 35px;
}

.collections .item .down-content h4 {
    color: var(--theme-primary);
    font-size: 20px;
    border-bottom: 1px solid var(--theme-secondary);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.collections .item {
    padding-bottom: 60px;
}

.collections .item span {
    color: var(--theme-light);
    display: inline-block;
    width: 48%;
    font-size: 15px;
}

.collections .item span strong {
    font-size: 20px;
}

.collections .item span.category {
    text-align: right;
}

.collections .item .main-button a {
    width: 100%;
    text-align: center;
}

.collections .item .main-button {
    margin-top: 20px;
    margin-bottom: -60px;
}

.collections .item .main-button a:hover {
    background-color: var(--theme-light);
    border: 1px solid var(--theme-light);
    color: var(--theme-primary);
}

.collections .owl-nav {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50px);
    text-align: center;
}

.collections .owl-nav .owl-prev {
    position: absolute;
    left: -23px;
}

.collections .owl-nav .owl-next {
    position: absolute;
    right: -23px;
}

.collections .owl-nav .owl-prev span,
.collections .owl-nav .owl-next span {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 24px;
    display: inline-block;
    color: var(--theme-primary);
    background-color: var(--theme-light);
    border-radius: 50%;
    opacity: 1;
    transition: all .3s;
}

.collections .owl-nav .owl-prev span:hover,
.collections .owl-nav .owl-next span:hover {
    opacity: 1;
}


/*  */

.currently-market {
    padding: 0 100px;
    position: relative;
}

.currently-market-item {
    width: 45%;
    margin: 0 auto;
}

.currently-market .section-heading {
    text-align: left;
}

.currently-market .section-heading .line-dec {
    margin-left: 0;
}

.currently-market .filters {
    display: flex;
    justify-content: center;
}

.currently-market .filters ul {
    border-radius: 50px;
    padding: 10px;
}

.currently-market .filters ul li {
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    color: var(--theme-dark);
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s;
}

.currently-market .filters ul li:first-child {
    margin-left: 0px;
}

.currently-market .filters ul li.active,
.currently-market .filters ul li:hover {
    background-color: var(--theme-primary);
    color: var(--theme-light);
}

.currently-market .item {
    background-color: var(--theme-dark);
    border: 1px solid var(--theme-dark);
    border-radius: 20px;
    padding: 5px;
    display: flex;
    margin-bottom: 30px;
}

.currently-market .item .right-content {
    margin: 30px;
    width: 100%;
}

.currently-market .item .right-content .content-titile {
    height: 24px;
    color: var(--theme-primary);
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.currently-market .item span {
    color: var(--theme-light);
    display: inline-block;
    font-size: 15px;
}

.currently-market .item .line-dec {
    width: 100%;
    height: 1px;
    background-color: var(--theme-secondary);
    margin-bottom: 25px;
    margin-top: 20px;
}

.currently-market .item span strong {
    font-size: 20px;
}

.currently-market .item span.bid {
    line-height: 35px;
}

.currently-market .item span.bid em {
    font-style: normal;
}

.currently-market .item .text-button {
    margin-top: 40px;
}

.currently-market .item .text-button a {
    font-size: 15px;
    font-weight: 700;
    color: var(--theme-primary);
    border-bottom: 1px solid var(--theme-secondary);
}

/*  */

.produc-detail {
    position: relative;
}

.produc-detail .gallery-product-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.produc-detail .gallery-product-images .product-image,
.produc-detail .gallery-product-images .product-image-thumbs .product-image-thumb {
    background-color: var(--theme-light);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.produc-detail .gallery-product-images .product-image img,
.produc-detail .gallery-product-images .product-image-thumbs .product-image-thumb img {
    border-radius: 5px;
}

.produc-detail .product-content .product-price {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.produc-detail .product-content .product-price .price-old {
    color: var(--theme-dark);
    font-size: 16px;
    text-decoration: line-through;
    margin-right: 10px;
}

.produc-detail .product-content .product-price .price {
    color: var(--theme-primary);
    font-size: 28px;
    font-weight: 500;
}

.produc-detail .product-content .product-price .discount {
    margin-left: 15px;
    color: var(--theme-light);
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    background: var(--theme-primary);
    border-radius: 2px;
    padding: 2px 4px;
    white-space: nowrap;
}

.produc-detail .product-content .product-title {
    color: var(--theme-dark);
    font-size: 22px;
    font-weight: 500;
}

.produc-detail .product-content .product-quantity {
    display: flex;
    align-items: center;
    gap: 15px;
    min-height: 80px
}

.produc-detail .product-content .product-quantity .quantity-title {
    flex-basis: 100px;
}

.produc-detail .product-content .product-quantity .input-group {
    flex-basis: 150px;
}

.produc-detail .product-content .product-quantity .input-group .input-quantity {
    width: 50px;
    height: 32px;
    border-left: 0;
    border-right: 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 0;
}

.produc-detail .product-content .product-quantity .input-group .input-quantity:focus {
    color: none;
    background-color: none;
    border-color: none;
    outline: none;
    box-shadow: none;
}

.produc-detail .product-content .product-quantity .input-group .btn-outline-secondary {
    --bs-btn-color: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: none;
    --bs-gradient: none;

    outline: none;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 0;
    background: transparent;
    width: 32px;
    height: 32px;
}

.produc-detail .product-content .product-quantity .input-group .btn-minus strong {
    color: var(--theme-dark);
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
}

.produc-detail .product-content .produc-option {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

}

.produc-detail .product-content .produc-option .produc-option-title {
    flex-basis: 100px;
}

.produc-detail .product-content .produc-option .produc-option-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}


.produc-detail .product-content .produc-option .produc-option-lists .container .option_item .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.produc-detail .product-content .produc-option .produc-option-lists .option_item .option_inner {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 8px 18px;
    cursor: pointer;
    color: #585c68;
    border: 1px solid rgba(0, 0, 0, .09);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.produc-detail .product-content .produc-option .produc-option-lists .option_item .option_inner .icon .fab {
    font-size: 20px;
}

.produc-detail .product-content .produc-option .produc-option-lists .option_item .option_inner .name {
    user-select: none;
    font-size: 14px;
}

.produc-detail .product-content .produc-option .produc-option-lists .option_item .checkbox {
    display: none;
}

.produc-detail .product-content .produc-option .produc-option-lists .option_item .checkbox:checked~.option_inner.facebook {
    border-color: var(--theme-primary);
    color: var(--theme-primary);
}

.produc-detail .product-content .produc-option .produc-option-lists .option_item .option_inner .tickmark {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 10px solid;
    border-color: transparent var(--theme-dark) var(--theme-dark)s transparent;
    display: none;
}

.produc-detail .product-content .produc-option .produc-option-lists .option_item .checkbox:checked~.option_inner .tickmark {
    display: block;
}

.produc-detail .product-content .produc-option .produc-option-lists .option_item .option_inner.facebook .tickmark {
    border-color: transparent var(--theme-primary) var(--theme-primary) transparent;
}

.produc-detail .product-content .product-btn-cart {
    display: flex;
    align-items: center;
    gap: 15px;
}

.produc-detail .product-content .product-btn-cart .add-to-cart {
    border: 1px solid var(--theme-primary);
    border-radius: 2px;
    background: var(--theme-light);
    padding: 0 20px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-primary);
    font-size: 16px;
    font-weight: 500;
}

.produc-detail .product-content .product-btn-cart .buy-now {
    border: 1px solid var(--theme-primary);
    border-radius: 2px;
    background: var(--theme-primary);
    padding: 0 20px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-light);
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 992px) {
    .produc-detail .product-content .product-btn-cart {
        display: block;
    }

    .produc-detail .product-content .product-btn-cart .add-to-cart,
    .produc-detail .product-content .product-btn-cart .buy-now {
        width: 100%;
        margin-bottom: 15px;
    }
}

/*  */

footer {
    background: #EA5D2C;
    background: linear-gradient(132deg, #ff8a00 25%, #ffbc00 100%);
    text-align: center;
    padding: 25px 0px;
}

footer p {
    color: var(--theme-light);
}

footer p a {
    color: var(--theme-light);
    font-weight: 500;
    transition: all .3s;
}

footer p a:hover {
    color: var(--theme-light);
    opacity: 0.75;
}